.products{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    padding-left: 50px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}
.order-details{
    font-family: 'Lato';
    color: white;
    background-color: goldenrod;
}