.navbar{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Lato';
}
.navbar img{
    width: 100px;
    height: 40px;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}
.navbar a:hover{
    color: goldenrod;
}
.navbar button{
    font-family: 'Lato';
}
.navbar button:hover{
    color: white;
    background-color: goldenrod;
}